{% extends 'home/base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Ingrese al sitio</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.username}}
                        {{form.password}}
                    </div>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </form>
            </div>
        </div>
        <a href="{% url 'register' %}">¿No tenes cuenta? Registrate aqui</a>
    </div>
</div>
{% endblock %}