{% extends "home/base.html" %}

{% block content %}
    <div class="text-center">
        <h2>Listado de Autos</h2>
    </div>
    <form method="post" class="container text-center">
        {% csrf_token %}
        <div class="row my-2">
            <div class="col">
                <label>Intervalo de Precios</label>
                {{ form.price_gte }}
                {{ form.price_lte }}
            </div>
            <div class="col">
                <label>Marca</label>
                {{ form.brand_id }}
            </div>
            <div class="col">
                <label>Usado</label>
                {{ form.used }}
            </div>
            <div class="col">
                <label>Categoria</label>
                {{ form.category_id }}
            </div>
            <div class="col">
                <label>Años</label>
                {{ form.year_gte }}
                {{ form.year_lte }}
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary ">Filtrar</button>
            </div>
        </div>
    </form>
    <div class="row row-cols-1 row-cols-md-3 ">
        {% for car in car_names %}
            <div class="col mb-4 ">
                <div class="card" style="width: 18rem;">
                    <img src="{{ car.thumbnail.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{car}}</h5>
                        <p>${{ car.price }}</p>
                        {% if car.used %} 
                            <p class="card-text">Usado</p>
                        {% else %}
                            <p class="card-text">Nuevo</p>
                        {% endif %}
                        <a href="{% url 'car_detail' car.id %}" class="btn btn-info btn-sm">Detalles</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
